---
gtm-tag-id: GTM-PNC4S5J
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#115E59">
    <meta name="msapplication-navbutton-color" content="#115E59 ">
    <link rel="manifest" href="~/src/manifest.webmanifest">
    <link rel="icon" sizes="32x32" type="image/png" href="~/src/images/favicon-32x32.png">
    <link rel="icon" sizes="16x16" type="image/png" href="~/src/images/favicon-16x16.png">
    <link rel="stylesheet" href="~/src/app.css">

    <title>Srila BV Narayana Gosvami Maharaja’s Official Archive</title>
    {% render 'partials/gtm.html', tag-id: gtm-tag-id -%}
  </head>

  <body>
    {% render 'partials/gtm-noscript.html', tag-id: gtm-tag-id -%}
    <!-- Top section Join us now -->
    <button
      data-drawer-target="sidebar-multi-level-sidebar"
      data-drawer-toggle="sidebar-multi-level-sidebar"
      aria-controls="sidebar-multi-level-sidebar"
      type="button"
      class="
        inline-flex !w-full items-center border-b border-b-white !bg-pink-100 p-3 text-sm font-extrabold text-gray-900 hover:bg-gray-100
        focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:hidden
      "
    >
      <span class="sr-only">Open sidebar</span>
      <svg
        class="h-6 w-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path clip-rule="evenodd" fill-rule="evenodd"
          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
      </svg>
    </button>
    <aside
      id="sidebar-multi-level-sidebar"
      class="fixed top-0 left-0 z-40 h-screen w-64 -translate-x-full transition-transform sm:translate-x-0 md:relative md:top-auto md:h-auto md:w-auto md:bg-none "
      aria-label="Sidebar"
    >
      <div class=" h-full overflow-y-auto bg-white ">
        <section
          class="
            h-15  absolute left-0 bottom-4 mx-auto !w-full items-center justify-center space-x-2 !border-t
            !border-gray-300 px-4  pt-4 md:!relative md:!left-auto md:!bottom-auto md:flex md:!h-12 md:!border-b md:!bg-emerald-700/10 md:!px-0 md:!pt-0 md:!text-left
          "
        >
          <div class="text-xs font-normal md:!text-sm"><span class="text-xs font-bold md:!text-sm">JOIN US&nbsp;</span> for Daily Harikatha & Short Videos in Hindi & English @ Gaudiya Rasamrita</div>
          <div class="mt-1 flex items-center !justify-start !space-x-1 text-gray-700 md:justify-center md:!space-x-2 ">
            <!-- Using the below icons from https://iconify.design which is open source and all are easily customizable. -->

            <a href="https://chat.whatsapp.com/DVLt0xX4yab3acLQRUBoBv" target="_blank">
              <iconify-icon icon="ic:twotone-whatsapp" class="-ml-2 text-xl md:!-ml-0"></iconify-icon>
            </a>
            <!-- Whatsapp Icon -->
            <a href="https://www.youtube.com/channel/UCc9ms4F-PWpkUDct7OcuqMQ" target="_blank">
              <iconify-icon icon="ri:youtube-fill" class="text-xl"></iconify-icon>
            </a>
            <!-- Youtube Icon -->
            <a href="https://www.facebook.com/GaudiyaRasamrita/" target="_blank">
              <iconify-icon icon="ic:baseline-facebook" class="text-xl"></iconify-icon>
            </a>
            <!-- Facebook Icon -->
            <a href="https://t.me/gaudiyarasamrita" target="_blank">
              <iconify-icon icon="ic:baseline-telegram" class="text-xl"></iconify-icon>
            </a>
            <!-- Telegram Icon -->
            <a href="https://www.instagram.com/gaudiya.rasamrita/" target="_blank">
              <iconify-icon icon="ph:instagram-logo-fill" class="text-xl"></iconify-icon>
            </a>
            <!-- Instagram Icon -->
            <a href="https://podcasts.apple.com/us/podcast/gaudiya-rasamrita-english/id1537314210?uo=4" target="_blank">
              <iconify-icon icon="ph:apple-podcasts-logo-thin" class="text-xl font-extrabold"></iconify-icon>
            </a>
            <!-- Apple Podocast Icon -->
            <a href="https://open.spotify.com/show/2YcWMvVkZXYMgfXOq907Bm?si=cOkhRfbISxe6_38OYMCA8w&nd=1" target="_blank">
              <iconify-icon icon="ph:spotify-logo-bold" class="text-xl"></iconify-icon>
            </a>
            <!-- Spotify Icon -->
            <a
              href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy8zY2Y4ZDRmMC9wb2RjYXN0L3Jzcw=="
              target="_blank"
            >
              <iconify-icon icon="mdi:google-podcast" class="text-xl"></iconify-icon>
            </a>
            <!-- Google Podocast Icon -->
            <a
              href="https://purebhakti.us2.list-manage.com/subscribe?u=cff0da0dff6847d2469bdff2b&id=b2107d9953"
              target="_blank"
            >
              <iconify-icon icon="quill:inbox-newsletter" class="text-xl"></iconify-icon>
            </a>
            <!-- Subscribe Newsletter Icon -->
            <!-- Closed Icons. -->
          </div>
        </section>
        <!-- Top section Join us now -->
        <!-- Navigation Bar and Logo -->
        <section class="w-full border-b border-b-white bg-white px-4 md:border-b-gray-200">
          <nav class=" mx-auto flex flex-wrap items-center justify-between py-4 lg:w-full xl:container ">
            <!-- Logo -->
            <div><img src="~/src/images/logo.png" alt="" class="w-2/3 md:w-full"></div>
            <!-- Logo -->
            <!-- Menu -->
            <nav
              class="!mt-10 !space-y-3 text-sm font-semibold uppercase text-stone-900 md:!mt-0 md:space-x-8 md:!space-y-0"
            >
              {%- assign menu = collections.topnav | eleventyNavigation -%}
              {%- for entry in menu -%}
                <a
                  href="{{ entry.url }}"
                  {% if entry.url == page.url %}
                    class="hover:text-green hover:border-b-green active [&.active]:text-green  active [&.active]:border-b-green block h-8 justify-center border-b-4 border-b-white opacity-100 hover:border-b-4 md:inline"
                  {% endif %}
                  {% if entry.target == 'external' %}
                    target="_blank"
                  {% endif %}
                >
                  {{ entry.title }}
                </a>
              {%- endfor -%}
            </nav>
            <!-- Menu -->
          </nav>
        </section>
      </div>
    </aside>
    <!-- Navigation Bar and Logo -->

    <!-- page content -->
    <div class="mx-auto w-full max-w-screen-xl flex-1">
      <div class="mt-4 flex-none text-center font-header text-sm font-bold uppercase text-teal-800 sm:hidden">{{ title }}</div>
      {{ content }}
    </div>
    <!-- page content ends -->
    <!-- Footer -->
    <div class="mx-auto mt-0 !w-full justify-center bg-emerald-900 px-4 md:flex">
      <div class="!w-full items-center py-4 md:flex xl:!container">
        <div class="mx-auto w-40 grow pb-2 md:pb-0"><img src="~/src/images/logo-white.png"></div>
        <div class="flex flex-col text-center md:!text-right">
          <div>
            {%- assign menu = collections.bottomnav | eleventyNavigation -%}
            {%- for entry in menu -%}
              <a
                href="{{ entry.url }}"
                class="px-1 text-sm text-white hover:underline"
                {% if entry.target == 'external' %}
                  target="_blank"
                {% endif %}
              >
                {{ entry.title }}
              </a>
            {%- endfor -%}
          </div>
          <div class=" px-1 text-sm text-white">
            <p>Copyright &copy;2022 Harikatha.com</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <!-- Menu script should go above other scripts to aboid strange parcel issue "Cannot find module 'xxxxx'" -->
    <script type="module" src="~/src/menu.js"></script>
    {%- if jsFile -%}
      <script type="module" src="~/src/{{jsFile}}"></script>
    {%- endif -%}
  </body>
</html>
