---
gtm-tag-id: GTM-PNC4S5J
---
<!DOCTYPE html>
<html class="font-sans text-gray-600" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#115E59">
    <meta name="msapplication-navbutton-color" content="#115E59 ">
    <link rel="manifest" href="~/src/manifest.webmanifest">
    <link rel="icon" sizes="32x32" type="image/png" href="~/src/images/favicon-32x32.png">
    <link rel="icon" sizes="16x16" type="image/png" href="~/src/images/favicon-16x16.png">
    <link rel="stylesheet" href="~/src/app.css">

    <title>Srila BV Narayana Gosvami Maharaja’s Official Archive</title>
    {% render 'partials/gtm.html', tag-id: gtm-tag-id -%}
  </head>

  <body class="overlayed:overflow-hidden flex flex-col sm:h-screen">
    {% render 'partials/gtm-noscript.html', tag-id: gtm-tag-id -%}
    <header class="bg-header border-peach-dark w-full border-b-4 border-dotted bg-clip-content pb-0.5">
      <div class="relative mx-auto max-w-screen-xl">
        <div class="bg-header-decor mobile-m:w-12 mobile-l:w-14 mobile-s:opacity-100 absolute left-0 top-2 h-full w-11 bg-contain bg-left-top bg-no-repeat opacity-25 md:top-0 md:h-20 md:w-24"></div>
        <div
          class="bg-header-decor mobile-m:w-12 mobile-l:w-14 mobile-s:opacity-100 absolute right-0 top-2 h-full w-11 -scale-x-100 bg-contain bg-right-top bg-no-repeat opacity-25 md:top-0 md:h-20 md:w-24"
        ></div>
        <div class="font-header mobile-l:text-base mobile-m:text-sm relative z-10 px-1 py-3 text-center text-xs font-semibold tracking-tighter text-teal-800 sm:text-lg md:tracking-normal lg:ml-60 lg:mr-28">
          <span class="sm:flex sm:justify-center sm:space-x-3">
            <span class="bg-lotus hidden w-7 flex-none bg-contain bg-right-top bg-no-repeat sm:block"></span>
            <span>
              <span class="mobile-s:block mobile-s:whitespace-nowrap sm:inline">The Official Archive of</span>
              <span class="mobile-s:whitespace-nowrap">His Divine Grace</span>
            </span>
            <span class="bg-lotus hidden w-7 flex-none -scale-x-100 bg-contain bg-right-top bg-no-repeat sm:block"></span>
          </span>
          <span class="lg:text-xl">
            <span class="whitespace-nowrap">Sri Srimad</span>
            <span class="mobile-s:block mobile-s:whitespace-nowrap sm:inline">Bhaktivedanta Narayana Gosvami Maharaja</span>
          </span>
        </div>
        <img
          src="~/src/images/gurudeva.png"
          alt="Srila Gurudeva"
          class="absolute left-0 right-0 top-full z-10 mx-auto w-28 -translate-y-3 rounded-full sm:left-4 sm:right-auto md:left-20 lg:left-20 lg:w-44 lg:-translate-y-16"
        >
      </div>
    </header>
    <nav class="bg-submarine-500 relative mb-4 mt-0.5 p-4 sm:mb-0 sm:p-0">
      <!-- Mobile menu button -->
      <div class="flex justify-end sm:hidden">
        <button type="button" data-menu-toggle class="p-2 text-teal-800 focus:outline-none lg:hidden" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->
          <!-- Heroicon name: outline/menu -->
          <svg data-menu-toggled class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!-- Icon when menu is open. -->
          <!-- Heroicon name: outline/x -->
          <svg data-menu-toggled class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <!-- Menu items -->
      <div data-menu-toggled class="hidden sm:block">
        <div class="child-a:px-2 child-a:py-1 font-header flex flex-col items-end justify-end space-y-4 py-1 pl-36 text-sm font-semibold text-gray-600 sm:flex-row sm:items-stretch sm:justify-start sm:space-x-1 sm:space-y-0 md:pl-56 lg:justify-center lg:space-x-3 lg:pl-72 lg:pr-28 lg:text-base">
          {%- assign menu = collections.topnav | eleventyNavigation -%}
          {%- for entry in menu -%}
            <a
              href="{{ entry.url }}"
              {% if entry.url == page.url %}
                class="rounded-md bg-teal-800 text-white"
              {% endif %}
              {% if entry.target == 'external' %}
                target="_blank"
              {% endif %}
            >
              {{ entry.title }}
            </a>
          {%- endfor -%}
        </div>
      </div>
    </nav>
    <!-- banner -->
    {% if bannerShow != false %}
      <div class="mx-auto flex w-full max-w-screen-xl flex-wrap items-center justify-center space-x-1 border-b px-4 py-2 text-sm sm:pl-36 md:pl-56 lg:pl-72">
        <a class="inline-flex items-center rounded-md bg-red-400 px-2 py-1 text-white shadow-sm" href="/join">JOIN US</a>
        <span class="py-1 text-center">for <strong>Daily Harikatha &amp; Short Videos</strong> in Hindi &amp; English </span>
      </div>
    {% endif %}
    <div class="mx-auto w-full max-w-screen-xl flex-1">
      <div class="font-header mt-4 flex-none text-center text-sm font-bold uppercase text-teal-800 sm:hidden">{{ title }}</div>
      {{ content }}
    </div>
    <footer class="border-t pt-7 pb-40">
      <div class="child-a:px-2 flex justify-center space-x-1 text-xs text-gray-600 lg:space-x-3">
        {%- assign menu = collections.bottomnav | eleventyNavigation -%}
        {%- for entry in menu -%}
          <a
            href="{{ entry.url }}"
            {% if entry.target == 'external' %}
              target="_blank"
            {% endif %}
          >
            {{ entry.title }}
          </a>
        {%- endfor -%}
      </div>
    </footer>
    <!-- Menu script should go above other scripts to aboid strange parcel issue "Cannot find module 'xxxxx'" -->
    <script type="module" src="~/src/menu.js"></script>
    {%- if jsFile -%}
      <script type="module" src="~/src/{{jsFile}}"></script>
    {%- endif -%}
  </body>
</html>
