@tailwind base;

@tailwind components;



@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Raleway:ital@0;1&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Domine',
        serif;
    color: #031c56;
    @apply text-center;
}

p {

    font-family: 'Raleway',
        sans-serif;
    color: #031c56;

}

