<div title="Unique file identifier">#{{ audioObj.fileId }}</div>
{% if audioTagsParam.dateForHumans -%}
  <div>
    {{ audioTagsParam.dateForHumans }}
    {% if audioTagsParam.dateUncertain -%}
      <span title="Date is uncertain">(?)</span>
    {%- endif %}
  </div>
{%- endif %}
{% if audioTagsParam.location -%}
  <div>
    {{ audioTagsParam.location }}
    {% if audioTagsParam.locationUncertain -%}
      <span title="Location is uncertain">(?)</span>
    {%- endif %}
  </div>
{%- endif %}
{% if audioTagsParam.category -%}
  <div>{{ audioTagsParam.category }}</div>
{%- endif %}
{% for language in audioTagsParam.languages -%}
  <div>{{ language }}</div>
{%- endfor %}
