{% if audio.dateForHumans -%}
  <div>
    {{ audio.dateForHumans }}
    {% if audio.dateUncertain -%}
      <span title="Date is uncertain">(?)</span>
    {%- endif %}
  </div>
{%- endif %}
{% if audio.location -%}
  <div>
    {{ audio.location }}
    {% if audio.locationUncertain -%}
      <span title="Location is uncertain">(?)</span>
    {%- endif %}
  </div>
{%- endif %}
{% if audio.category -%}
  <div>{{ audio.category }}</div>
{%- endif %}
{% for language in audio.languages -%}
  <div>{{ language }}</div>
{%- endfor %}
