<div class="mt-1 flex items-start justify-between space-x-2 pr-2 text-xs">
  <div class="flex flex-grow flex-wrap items-start justify-between">
    <!-- Tags -->
    <div class="mb-1 flex flex-wrap content-between items-baseline [&>*]:mb-1 [&>*]:mr-1 [&>*]:border-r [&>*]:border-gray-300 [&>*]:pr-1 last:[&>*]:border-0">
      <div title="Unique file identifier">#{{ audioObj.fileId }}</div>
      {% if audioObj.dateForHumans -%}
        <div>
          {{ audioObj.dateForHumans }}
          {% if audioObj.dateUncertain -%}
            <span title="Date is uncertain">(?)</span>
          {%- endif %}
        </div>
      {%- endif %}
      {% if audioObj.location -%}
        <div>
          {{ audioObj.location }}
          {% if audioObj.locationUncertain -%}
            <span title="Location is uncertain">(?)</span>
          {%- endif %}
        </div>
      {%- endif %}
      {% if audioObj.category -%}
        <div>{{ audioObj.category }}</div>
      {%- endif %}
      {% for language in audioObj.languages -%}
        <div>{{ language }}</div>
      {%- endfor %}
    </div>
    <!-- Colored badges -->
    <div class="mb-1 flex items-center space-x-1">
      <!-- Percentage -->
      <div
        class="relative overflow-hidden rounded-lg border border-gray-300"
        title="
          {%- if audioObj.percentage > 0 -%}
            How much Srila Gurudeva is speaking in the recording
          {%- else -%}
            Only other guru-varga is speaking in the recording
          {%- endif -%}
        "
      >
        <div
          class="absolute z-auto h-full w-[var(--percentage)] bg-gray-300 shadow-none"
          style="--percentage: {% if audioObj.percentage > 0 -%}{{ audioObj.percentage | percentage }}{%- else -%}100%{%- endif -%}"
        ></div>
        <div class="w-full whitespace-nowrap px-1.5 pb-[1px] opacity-95">
          {%- if audioObj.percentage > 0 -%}
            Srila Gurudeva {{ audioObj.percentage | percentage }}
          {%- else -%}
            Other guru-varga
          {%- endif -%}
        </div>
      </div>
      <!-- Sound Quality -->
      <div
        class="{{ audioObj.soundQualityRating | sound_quality_color }} flex flex-none space-x-1 rounded-lg border px-1.5 pb-[1px]"
        title="Sound quality of the recording"
      >
        <svg
          class="h-4 w-4 flex-none stroke-current stroke-2"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M83 384c-13-33-35-93.37-35-128C48 141.12 149.33 48 256 48s208 93.12 208 208c0 34.63-23 97-35 128"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
          />
          <path
            d="M108.39 270.13l-13.69 8h0c-30.23 17.7-31.7 72.41-3.38 122.2s75.87 75.81 106.1 58.12h0l13.69-8a16.16 16.16 0 005.78-21.87L130 276a15.74 15.74 0 00-21.61-5.87zM403.61 270.13l13.69 8h0c30.23 17.69 31.74 72.4 3.38 122.19s-75.87 75.81-106.1 58.12h0l-13.69-8a16.16 16.16 0 01-5.78-21.87L382 276a15.74 15.74 0 0121.61-5.87z"
            fill="none"
            stroke="currentColor"
            stroke-miterlimit="10"
            stroke-width="32"
          />
        </svg>
        <span>{{ audioObj.soundQualityRating | sound_quality_label }}</span>
      </div>
    </div>
  </div>
  <!-- Actions -->
  <div class="mb-1 flex space-x-1">
    <!-- Download -->
    <a
      href="{{ fileUrl }}"
      class="inline-flex items-center space-x-1"
      title="Download file for listening offline"
    >
      <svg
        class="h-full w-4 stroke-current"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
        />
      </svg>
      <span class="hidden md:inline">Download</span>
    </a>
    <!-- Feedback -->
    <a
      href="{{ env.FEEDBACK_FORM_AUDIOS }}{{ audioObj.fileId }}"
      target="_blank"
      class="inline-flex items-center space-x-1"
      title="Help us improve! Give feedback about the sound quality, title, contents, language, etc of this file"
    >
      <svg
        class="h-full w-4 stroke-current"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"
        />
      </svg>
      <span class="hidden md:inline">Feedback</span>
    </a>
    <!-- Share -->
    <a
      href="/audios/{{ audioObj.fileId }}/"
      class="inline-flex cursor-pointer items-center space-x-1"
      x-data="webshare('{{ audioObj.title | replace: "'", "\\'" | escape }}', '/audios/{{ audioObj.fileId }}/')"
      x-on:click.prevent="share"
      data-tippy-content="Link copied to clipboard"
      data-tippy-trigger="manual"
      data-tippy-placement="bottom"
      title="Share this audio"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="h-full w-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z"
        />
      </svg>
      <span class="hidden md:inline">Share</span>
    </a>
  </div>
</div>
