<div x-data="{ expanded: false }" class="mb-2">
  <div
    @click="expanded = ! expanded"
    class="sticky top-0 flex cursor-pointer select-none rounded-md border-gray-500 bg-gray-200 p-2 py-2 align-baseline text-xs font-bold uppercase hover:bg-gray-300"
  >
    <span class="flex-grow">{{ title }}</span>

    <svg data-accordion-icon class="h-3 w-3 shrink-0" :class="{ 'rotate-180': ! expanded }" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
    </svg>
  </div>
  <!-- subtitle for guru list in memories -->
  {% if subtitle -%}
    <p class="text-xs font-normal lowercase">{{ subtitle }}</p>
  {%- endif %}
  <div
    id="{{ id }}"
    x-show="!expanded"
    x-transition:enter="transition motion-safe:ease-out duration-200"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
  ></div>
</div>
