<div class="flex flex-wrap items-center justify-center gap-2 border-b border-gray-300 bg-neutral-100 px-4 py-2 sm:flex-nowrap">
  <div class="items-center text-center text-xs md:text-left md:text-sm lg:text-center">
    <span class="font-bold">Join us in transcribing</span>
    Srila Gurudeva’s hari-katha:
  </div>
  <div class="flex flex-nowrap items-center space-x-1 text-gray-700 md:space-x-2">
    <span
      class="inline-block flex-none gap-2 rounded-md bg-neutral-600 px-2 py-1 text-xs font-semibold capitalize text-white hover:bg-neutral-500 md:text-sm"
      ><a href="https://www.audioseva.com/register" target="_blank">Register</a></span
    >
  </div>
</div>
