<div
  x-data="{inVideoMode: false}"
  class="aspect-h-9 aspect-w-16 overflow-hidden rounded-md"
>
  <template x-if="!inVideoMode">
    <!-- Thumbnail URLs taken from https://stackoverflow.com/a/20542029/3082178 -->
    <img
      @click="inVideoMode = true"
      class="cursor-pointer"
      srcset="
        https://i1.ytimg.com/vi/{{ v-id }}/mqdefault.jpg 320w,
        https://i1.ytimg.com/vi/{{ v-id }}/hq720.jpg 1280w
      "
      sizes="
        (min-width: 1024px) 288px,
        (min-width: 768px) 240px,
        (min-width: 504px) calc((100vw - 1.5rem) / 2),
        calc(100vw - 1rem)
      "
      src="https://i1.ytimg.com/vi/{{ v-id }}/mqdefault.jpg"
    >
  </template>
  <template x-if="inVideoMode">
    <iframe
      src="https://www.youtube.com/embed/{{ v-id }}?autoplay=1&modestbranding=1"
      allow="autoplay"
    ></iframe>
  </template>
</div>
