@import 'https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
  margin-right: 1rem;
}

.search-panel__results {
  flex: 4;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-Hits-item,
.ais-InfiniteHits-item,
.ais-InfiniteResults-item,
.ais-Results-item {
  width: 100%;
}

.ais-Panel {
  margin-bottom: 1rem;
}
.tag {
  border: 1px solid black;
}
