---
permalink: "/audios/{{ audio.fileId | slug }}/"
layout: base
jsFile: common-player.js
description: Audio recording with all the details, including topics discussed
---
<article class="mx-auto mt-10 flex max-w-screen-md flex-col px-2 sm:px-4">
  <div class="flex justify-between space-x-1 align-baseline">
    <!-- Title -->
    <h1 class="text-xl font-bold">{{ audio.title }}</h1>
    <div class="inline-flex content-end items-center">
      {% render 'partials/duration.html' with audio.duration as duration -%}
    </div>
  </div>
  <!-- Second line -->
  <div class="mt-1 flex items-start justify-between space-x-2 text-xs">
    <div class="flex flex-grow flex-wrap items-start justify-between">
      {% render 'partials/audio-tags.html' with audio as audio -%}
      <div class="mb-1 flex items-center space-x-1">
        {% render 'partials/percentage.html' with audio.percentage as percentage -%}
        {% render 'partials/sound-quality.html' with audio.soundQualityRating as soundQualityRating -%}
      </div>
    </div>
    {% render 'partials/audio-actions.html', fileId: audio.fileId, title: audio.title -%}
  </div>
  <div class="prose prose-sm mt-6 sm:prose dark:prose-invert">
    <!-- Other Speakers -->
    {% if audio.otherSpeakers -%}
      <h4>
        {% if audio.percentage > 0 %}
          Other speakers
        {% else %}
          Speakers
        {% endif %}
      </h4>
      <ul>
        {% for speaker in audio.otherSpeakers -%}
          <li>{{ speaker }}</li>
        {%- endfor %}
      </ul>
    {%- endif %}
    <h4>Topics</h4>
    {% renderTemplate "liquid,md", audio -%}
    {{- topics -}}
    {%- endrenderTemplate %}
  </div>
</article>
<!-- Player UI -->
{% render 'player.html' with audio as record -%}
