---
permalink: "/audios/{{ audio.fileId | slug }}/"
layout: base
jsFile: common-player.js
description: Audio recording with all the details, including topics discussed
---
<article class="mx-auto mt-10 flex max-w-screen-md flex-col px-2 sm:px-4">
  <div class="flex justify-between space-x-1 align-baseline">
    <!-- Title -->
    <h1 class="text-xl font-bold">{{ audio.title }}</h1>
    <!-- Duration -->
    <div class="inline-flex content-end items-center">
      {% render 'partials/audio-duration.html', audioDuration: audio.duration -%}
    </div>
  </div>
  <!-- Second line -->
  <div class="mt-1 flex items-start justify-between space-x-2 text-xs">
    <div class="flex flex-grow flex-wrap items-start justify-between">
      <!-- Tags -->
      {% render 'partials/audio-tags.html', audioTagParam: audio -%}
      <!-- Colored badges -->
      {% render 'partials/audio-percentage.html', audioPercentage: audio.percentage -%}
      {% render 'partials/colored-badges.html', audioQualityColor: audio.soundQualityRating -%}
    </div>
    <!-- Actions -->
    {% render 'partials/audio-actions.html', audioFileId: audio.fileId, audioTitle: audio.title, fileUrl: fileUrl, feedbackUrl: feedbackUrl -%}
  </div>
  <div class="prose prose-sm mt-6 sm:prose dark:prose-invert">
    <!-- Other Speakers -->
    {% if audio.otherSpeakers -%}
      <h4>
        {% if audio.percentage > 0 %}
          Other speakers
        {% else %}
          Speakers
        {% endif %}
      </h4>
      <ul>
        {% for speaker in audio.otherSpeakers -%}
          <li>{{ speaker }}</li>
        {%- endfor %}
      </ul>
    {%- endif %}
    <h4>Topics</h4>
    {% renderTemplate "liquid,md", audio -%}
    {{- topics -}}
    {%- endrenderTemplate %}
  </div>
</article>
<!-- Player UI -->
{% render 'partials/audio-player.html', record: record -%}
