#
# sri sri guru gaurangau jayatah
#

name: CI
on:
  pull_request:
    branches:
      - main

jobs:
  changes:
    name: Detect changes in sub-projects
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.filter.outputs.frontend == 'true' || steps.filter.outputs.workflows == 'true' }}
      functions: ${{ steps.filter.outputs.functions == 'true' || steps.filter.outputs.workflows == 'true' }}
    steps:
      # Checkout to use filters from file
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: .github/path-filters.yml

  # Job id should match the folder name because it's used in the expressions
  frontend:
    name: Build and test frontend
    runs-on: ubuntu-latest
    needs: changes
    defaults:
      run:
        working-directory: ${{ github.job }}
    # It is not possible to use `github.job` inside `if` expression
    # Comparing to string, because the job output is a strings, not boolean
    if: needs.changes.outputs.frontend == 'true'

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v2
        with:
          node-version: 12

      - name: Cache NPM modules
        id: cache
        uses: actions/cache@v3
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-npm-${{ github.job }}-${{ hashFiles(format('{0}/package-lock.json', github.job)) }}
          restore-keys: |
            ${{ runner.os }}-npm-${{ github.job }}-

      - run: npm ci
      - run: npm run lint
      - run: npx htmlhint
      - run: npm run build
      - run: npm test
      - run: npx prettier --check .

  # Job id should match the folder name because it's used in the expressions
  functions:
    name: Lint and test functions
    runs-on: ubuntu-latest
    needs: changes
    defaults:
      run:
        working-directory: ${{ github.job }}
    # It is not possible to use `github.job` inside `if` expression
    # Comparing to string, because the job output is a strings, not boolean
    if: needs.changes.outputs.functions == 'true'

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v2
        with:
          node-version: 12

      - name: Cache NPM modules
        id: cache
        uses: actions/cache@v3
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-npm-${{ github.job }}-${{ hashFiles(format('{0}/package-lock.json', github.job)) }}
          restore-keys: |
            ${{ runner.os }}-npm-${{ github.job }}-

      - run: npm ci
      - run: npm run lint
      - run: npm run build -- --noEmit
      - run: npm test -- --passWithNoTests
      - run: npx prettier --check .
